.header{
  width:100%;
  height:auto;
  word-spacing:15px;
  font-size:22px;
  opacity:0.8;
  position:sticky;
}
.navbar-links-div{
  display:flex;
  justify-content:space-around;
}
a{
  text-decoration:none;
  color:black;
  margin-left:2px;
  margin-right:2px;
}
a:hover{
  transition-duration:1s;
  border:2px solid #3fb0ac;
  border-radius:90px;
  margin-left:4px;
  margin-right:4px;
  padding-left:4px;
  padding-right:4px;
  font-size:21px;
}
button{
  height:auto;
  width:20%;
  padding:7.5px 20px 7.5px 20px;
  font-size:18px;
  border:1px solid #3fb0ac;
  margin:5px 5px 0px 0px;
}
button:hover{
  box-shadow:1px 1px grey;
  background:linear-gradient(to bottom, white 50%, #3fb0ac 50%);
  background-size:100% 220%;
  color:black;
  background-position:bottom;
  transition: all 0.5s ease-in;
}
.general-list-hover{
  list-style-type:none;
}
.general-list-hover:hover{
color:#256967;
transition-duration:0.5s;
font-size:18px;
}
#active{
  border-bottom:2px solid #3fb0ac;
  font-size:22px;
}
form{
  text-align:center;
}
select{
  text-align: center;
  text-align-last: center;
}
input{
  border:none;
  font-size:18px;
  width:80%;
  text-align: center;
  margin-top:5px;
  padding:10px 5px 10px 5px;
}
textarea{
  border:none;
  width:80%;
  font-size:18px;
  text-align: center;
}
.footer{
  display:flex;
  justify-content:space-between;
}
#volleyball-today-btns{
  text-align:center;
  height:auto;
  width:100%;
  margin:20px 0px 0px 0px;
}
#team-news{
  text-align:center;
  margin:20px 300px 0px 300px;
}
#team-news-alignment{
  display:flex;
  justify-content: center;
  text-align: center;
}
#article-headline{
  border: 1px solid #3fb0ac;
  border-radius: 10px;
  text-align: center;
  width:60%;
}
.footer-links-location{
  display:inline-block;
  margin-left:20px;
  margin-right:20px;
}
.footer-links-div{
  text-align:center;
  height:auto;
  width:100%;
}
#join-form-dropdown{
  border:none;
  width:20%;
  text-align:center;
  font-size:18px;
  margin:5px, 0px, 0px, 0px;
}
#contact-form-text{
  text-align:center;
  font-size:17px;
  word-wrap:break-word;
}
.grid-container{
column-count:4;
margin-top:20px;
column-gap:20px;
}
.masonryblocks{
  display:inline-block;
  box-sizing:border-box;
  width:auto;
  margin: 0 0 15px;
}
.grid-imgs{
width:100%;
height:100%;
border-radius:10px;
object-fit:cover;
}
.grid-imgs:hover{
  box-shadow:grey 0 0 20px;
  transition-duration:0.25s;
  border-radius:10px;
}
.grid-page-numbers{
  display:flex;
  justify-content: space-around;
}
#grid-selector{
  padding:12px 16px 12px 16px;
  border:solid 1px #3fb0ac;
}
#grid-selector:hover{
  background: linear-gradient(to bottom right,  white 50%, #3fb0ac 50%);
  background-size: 200% 150%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border-radius:50%;
}
.about-body{
  word-wrap:break-word;
  text-align:center;
}
.team-member-images{
  height:300px;
  width:300px;
}
.team-member-container{
  display:flex;
  justify-content: center;
  flex-direction:row;
}
.team-member-info-image-container:hover{
padding:0px 0px 50px 0px;
box-shadow:0 0 10px;
transition-duration:0.5s;
}
.image-margin-fix{
  margin-right:20px;
}
.bold-text-for-member-names{
  font-weight:bold;
}
.calendar-week-days{
  list-style-type:none;
}
/**Added all media queries for variouswith different sixes to improve overall accessibility to the site. This is a constant work in progress due to new devices being released often.**/
/**1281px to higher resolution desktops**/
 @media (min-width: 1281px) {
   .grid-container{
     grid-template-columns:repeat(7, 160px);
     grid-template-rows:repeat(4, 160px);
   }
 }
/**Laptops, Desktops general screen size**/
 @media (min-width: 1025px) and (max-width: 1280px){
   .grid-container{
     grid-template-columns:repeat(4, 160px);
     grid-template-rows:repeat(4, 160px);
   }
   .team-member-container{
     flex-direction:column;
   }
   .image-margin-fix{
     margin-top:30px;
 }
 }
/**General size for tablet/iPad screens**/
@media (min-width: 768px) and (max-width: 1024px){
  .grid-container{
    grid-template-columns:repeat(2, 160px);
    grid-template-rows:repeat(7, 160px);
  }
  .team-member-container{
    flex-direction:column;
  }
  .image-margin-fix{
    margin-top:30px;
}
}
/**Low Resolution Tablets, Mobiles**/
@media (min-device-width:320px) and (max-device-width:767px){
  .grid-container{
    grid-template-columns:repeat(2, 160px);
    grid-template-rows:repeat(7, 160px);
    margin:20px 0px 0px 40px;
  }
  .header{
     font-size:30px;
     word-spacing:10px;
   }
   footer{
     font-size:28px;
   }
   .active{
     font-size:25px;
   }
   #contact-form-text{
     word-wrap:break-word;
   }
   button{
     font-size:30px;
     padding:5px, 0px, 5px, 0px;
   }
   textarea, input{
     text-align:center;
     font-size:30px;
     margin:5px 0px 0px 0px;
     max-width:auto;
   }
   .team-member-container{
     flex-direction:column;
   }
   .image-margin-fix{
     margin-top:30px;
 }
 }

/**general viewport for when the browser window is minimized/made smaller**/
@media (min-width:320px) and (max-width:767px){
  .grid-container{
    grid-template-columns:repeat(2, 160px);
    grid-template-rows:repeat(7, 160px);
    margin:20px 0px 0px 40px;
  }
  .header{
     font-size:30px;
     word-spacing:10px;
   }
   .active{
     font-size:25px;
   }
   #contact-form-text{
     word-wrap:break-word;
   }
   button{
     font-size:30px;
     padding:5px, 0px, 5px, 0px;
     word-wrap:break-word;
   }
   textarea, input{
     text-align:center;
     font-size:30px;
     margin:5px 0px 0px 0px;
     max-width:auto;
   }
   footer{
     font-size:28px;
   }
   .team-member-container{
     flex-direction:column;
   }
   .image-margin-fix{
     margin-top:30px;
 }
}
